*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    height: 100%;
    width: 100%;
   
}
.container{
    background: linear-gradient(120deg,orange,red);
    max-width: 85vw;
    padding:  2rem;
    margin: 0 auto;
     
}
.head{
    text-transform:capitalize ;
    border-radius: 5%;
    background-color: rgb(47, 255, 200);
    margin-bottom: 2rem;
}
.header{
    text-shadow: 2px 2px 4px rgb(69, 67, 67);
     border-radius: 3%;
    margin-bottom: 0.9rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}
.desc{
     
     border-radius: 3%;
    margin-bottom: 0.9rem;
 text-align: center;
    color: rgb(95, 92, 92);
}
.card-container{
    background-color: rgb(225, 219, 219);
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(auto-fit, minmax(250px,270px));
    gap: 2rem;
    border-radius: 2%;
    justify-content: center;
}
.card{
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(203, 203, 203);
    border-radius: 6%;
    height: 300px;
    width: 270px;
    box-shadow: 10px 5px 20px rgb(97, 88, 88);
    
    
}
.card:hover{
    transform: perspective(200px) translateZ(15px);
    transition: 750ms;
}
.card:hover .image{
    transform:  scale(1.2);
    transition: 500ms;
}

.img-container{
    position: relative;
    overflow: hidden;
    height: 30rem;
}
.image{
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    position: absolute;
    height : 100%;
    width: 100%;
    border-radius: 6%;

}
.card-title{
  
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
}
 
.title{
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 0.9rem;
    color: black;
    text-decoration: none;
}
.details{
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}
.card-footer{
    
    display: flex;
    justify-content: space-between;
}
.author-container{
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    align-items: center;
}

a{
    text-decoration: none;
}
.author-avtar{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(85, 82, 82);
    border-radius: 50%;
    justify-content: center;
   
}
.avt-img{
     height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}
.author-info{
    
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
     padding: 0.4rem;
}
.card-tag{ 
    
    padding: 1rem;
    justify-content: center;
}
button{
    background-color: aliceblue;
    border-radius: 100%;
    border: none;
    font-weight: 600;
    width: 70px;
    height: 25px;
}
button:hover{
    background-color: rgb(119, 196, 238);
    transition: 500ms;
}
 .navbar {
      background-color: #333;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
    }

    .navbar a {
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      display: block;
    }

    .navbar a:hover {
      background-color: #575757;
    }

    .nav-links {
      display: flex;
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-shadow: 4px 4px 6px rgb(195, 186, 21);
    }